<body style="margin:0;font-family:Calibri,'Trebuchet MS',sans-serif;font-size:14px;color:#000;">
<style>
    table{width:100%}
    td {padding-bottom:10px}
    .valueCell {text-align:right}

</style>
<div style="margin:0 auto;max-width:1000px;background:#fff">
    <div style="padding:30px 0 20px;text-align:center;border-bottom:4px solid #777">
        <div style="font-size:30px;">Fertilizer Recommendation</div>
        <div style="font-size:16px;">#DateTime#</div>
    </div>
    <table style="border-bottom:1px solid #777">
        <tr>
            <td style="width:40%;vertical-align:top;border-right:1px solid #000">
                <div style="padding:15px 20px;border-bottom:1px solid #777">
                    <table>
                        <tr>
                            <td style="width:90%">Farmer Name</td>
                            <td class="valueCell">#FarmerName#</td>
                        </tr>
                        <tr>
                            <td>Phone Number</td>
                            <td class="valueCell">#PhoneNumber#</td>
                        </tr>
                        <tr>
                            <td>Village Name</td>
                            <td class="valueCell">#VillageName#</td>
                        </tr>
                        <tr>
                            <td style="width:90%">State</td>
                            <td class="valueCell">#State#</td>
                        </tr>
                        <tr>
                            <td>District</td>
                            <td class="valueCell">#District#</td>
                        </tr>
                        <tr>
                            <td>Sample Number</td>
                            <td class="valueCell">#SampleNumber#</td>
                        </tr>
                        <tr>
                            <td>Crop</td>
                            <td class="valueCell">#Crop#</td>
                        </tr>
                    </table>
                </div>
                <div style="padding:15px 20px">
                    <table>
                        <tr>
                            <td style="width:90%;font-weight:bold">Geolocation</td>
                            <td class="valueCell" style="font-weight:bold"></td>
                        </tr>
                        <tr>
                            <td>Longitude</td>
                            <td class="valueCell">#Geo0#</td>
                        </tr>
                        <tr>
                            <td>Latitude</td>
                            <td class="valueCell">#Geo1#</td>
                        </tr>
                        <tr>
                            <td>Altitude</td>
                            <td class="valueCell">#Geo2#</td>
                        </tr>
                        <tr>
                            <td>Accuracy</td>
                            <td class="valueCell">#Geo3#</td>
                        </tr>
                    </table>
                </div>
            </td>
            <td style="vertical-align:top;">
                <div style="padding:15px 20px;">
                    <table>
                        <tr>
                            <td style="width:90%;font-weight:bold">Test Results</td>
                            <td class="valueCell" style="font-weight:bold">kg/ha</td>
                        </tr>
                        <tr>
                            <td style="width:90%">Available Nitrogen (N)</td>
                            <td class="valueCell">#Nitrogen#</td>
                        </tr>
                        <tr>
                            <td>Available Phosphorus (P)</td>
                            <td class="valueCell">#Phosphorus#</td>
                        </tr>
                        <tr>
                            <td>Available Potassium (K)</td>
                            <td class="valueCell">#Potassium#</td>
                        </tr>
                        <tr>
                            <td>oH</td>
                            <td class="valueCell">#pH#</td>
                        </tr>
                    </table>
                </div>
                <div style="padding:15px 20px;border-bottom:1px solid #999">
                    <table>
                        <tr>
                            <td style="width:90%;font-weight:bold">Combination 1</td>
                            <td class="valueCell" style="font-weight:bold">kg/ha</td>
                        </tr>
                        <tr>
                            <td style="width:90%">#Value0#</td>
                            <td class="valueCell">#Value1#</td>
                        </tr>
                        <tr>
                            <td>#Value2#</td>
                            <td class="valueCell">#Value3#</td>
                        </tr>
                        <tr>
                            <td>#Value4#</td>
                            <td class="valueCell">#Value5#</td>
                        </tr>
                    </table>
                </div>
                <div style="padding:15px 20px">
                    <table>
                        <tr>
                            <td style="width:90%;font-weight:bold">Combination 2</td>
                            <td class="valueCell" style="font-weight:bold">kg/ha</td>
                        </tr>
                        <tr>
                            <td style="width:90%">#Value6#</td>
                            <td class="valueCell">#Value7#</td>
                        </tr>
                        <tr>
                            <td>#Value8#</td>
                            <td class="valueCell">#Value9#</td>
                        </tr>
                        <tr>
                            <td>#Value10#</td>
                            <td class="valueCell">#Value11#</td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
    <div style="color: #494949;padding:20px">
        Fertilizer recommendation information was retrieved from the Soil Health Card website by
        Department of Agriculture, Cooperation & Farmers Welfare on #Date#. For further information
        please
        visit the department's website at https://soilhealth.dac.gov.in/.
    </div>
</div>
<br/><br/><br/>
</body>